<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simplisitc ToDo</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<header class="todoapp-header">
    <h1 id="title">Simplistic ToDo</h1>
    <h4>A most simplistic ToDo List in Vue.js.</h4>
</header>
<section id="todoapp">
    <section v-if="!todos" style="height: 200px">
        Loading ...
    </section>
    <section v-else  class="todoapp">

        <div style="height: 30px">
            <p v-cloak>ToDo Count: {{todoCount}}</p>
        </div>
        <form class="new-todo" @submit.prevent="addToDo">
            <input v-model="newToDoTitle" id="todo-text" type="text" placeholder="What needs to be done?" autofocus
                   autocomplete="off">
            <button class="add-button" id="add-button">+</button>
        </form>

        <ul id="todo-list" class="todo-list" v-cloak>
            <li v-for="todo of todos" :key="todo.id">
                {{todo.title}}
                <button v-if="todo.id" @click="removeToDo(todo)" class="remove-button">x</button>
            </li>
        </ul>
    </section>
</section>
<footer class="info">
    <p>JavaScript Example / Initial template from <a href="https://github.com/tastejs/todomvc-app-template">todomvc-app-template</a>
    </p>
</footer>

<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
<script src="src/todo-persistence.js"></script>
<script src="src/todo-app.js"></script>

</body>
</html>
