<template>
  <ul id="todo-list" class="todo-list" v-cloak>
    <li v-for="todo of todos" :key="todo.id">
      {{ todo.title }}
      <button @click="removeToDo(todo)">X</button>
    </li>
  </ul>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  // name: 'ToDoList',
  props: {
    todos: Array,
  },
  setup(props, context) {
    function removeToDo(todo) {
      context.emit('onRemoveToDo', todo);
    }

    return {
      removeToDo,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.todo-list {
  background: #fff;
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  padding: 20px;
}

.todo-list li button {
  display: block;
  float: right;
  font-size: 75%;
}

.todo-list li button:hover {
  color: #cc9a9a;
}
</style>
