<template>
  <form class="new-todo" @submit.prevent="addToDo">
    <input v-model="newToDoTitle" id="todo-text" type="text" placeholder="What needs to be done?" autofocus autocomplete="off" />
    <button class="add-button" id="add-button">+</button>
  </form>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: 'NewToDo',
  props: {
    onAddToDo: String
  },
  data: () => ({
    newToDoTitle: ''
  }),
  methods: {
    // Used in render function
    // update: function(e){
    //   this.newToDoTitle = e.target.value;
    // },
    addToDo: function(e) {
      // e.preventDefault(); not needed with template
      const newToDo = { title: this.newToDoTitle, completed: false };
      this.$emit('onAddToDo', newToDo);
      this.newToDoTitle = '';
    }
  }
  // // Alternative to template
  // render: function (h) {
  //   return (
  //     <form class="new-todo" onSubmit={this.addToDo}>
  //         <input id="todo-text"
  //                value={this.newToDoTitle}
  //                onChange={this.update}
  //                type="text"
  //                placeholder="What needs to be done?"
  //                autofocus
  //                autocomplete="off"/>
  //         <button class="add-button" id="add-button">+</button>
  //     </form>
  //   )
  // }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.new-todo {
  display: flex;
  padding: 1px 20px 1px 20px;
  border: none;
  background: #fff;
  position: relative;
  margin: 0;
  width: 100%;
  line-height: 1.4em;
  outline: none;
  /*padding: 6px;*/
  /*border: 1px solid #999;*/
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.new-todo input {
  flex-grow: 1;
  font-size: 24px;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
}

.add-button {
  display: block;
  float: right;
  margin: auto 0;
  font-size: 50px;
  color: #cc9a9a;
  margin-bottom: 11px;
}

.add-button:hover {
  color: #af5b5e;
}
</style>
