<template>
  <section id="todoapp" class="todoapp">
    <p>ToDo Count: {{ todoCount }}</p>
    <NewToDo @onAddToDo="addToDo" />
    <ToDoList :todos="todos" @onRemoveToDo="completeToDo" />
  </section>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, computed } from 'vue';
import { loadToDos, updateToDo, saveToDo } from '@/model/persistence';
import NewToDo from '@/views/todo-screen/NewToDo.vue';
import ToDoList from '@/views/shared/ToDoList.vue';

export default defineComponent({
  name: 'ToDoScreen',
  components: { NewToDo, ToDoList },
  setup() {
    const todos = ref([]);

    const todoCount = computed(() => todos.value.length);

    function addToDo(newToDo) {
      todos.value.push(newToDo);
      saveToDo(newToDo).then((persistedToDo) => (newToDo.id = persistedToDo.id));
    }

    function completeToDo(todo) {
      const position = todos.value.indexOf(todo);
      if (position >= 0) {
        todo.completed = true;
        todos.value.splice(position, 1);
        updateToDo(todo);
      }
    }

    onMounted(() => {
      loadToDos(false).then((t) => {
        console.log('LOADED', t);
        todos.value = t;
      });
    });

    return {
      todos,
      todoCount,
      addToDo,
      completeToDo,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
